* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.card-text {
    color: #26a69a !important;
}

h4 {
    margin: 40px 0;
}

form {
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
}